<footer>
  <span>Matias Petenatti</span>
</footer>

<style>
  footer {
    height: 100px;
    background-color: #001d3d;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  span {
    color: #f1faee;
  }
</style>
