<nav>
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/weekly">Retos semanales</a></li>
  </ul>
</nav>

<style>
  nav {
    padding: 20px 0;
  }
  ul {
    display: flex;
    justify-content: center;
  }
  li {
    list-style-type: none;
    margin: 0 20px;
  }
  a {
    color: #f1faee;
    text-decoration: none;
    font-size: 24px;
  }
  a:active {
    color: #e63946;
  }
</style>
